
body {
 font-family: Roboto Condensed, sans-serif;
}
#box-wrapper{
  background-image: url('../steller.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
}
#box-wrapper .color{
  background-color: rgba(0,0,153, 0.5);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
}
#box-wrapper .btn{
  background-color: transparent;
  background-position: center;
  text-align: center;
}
#box-wrapper .btn1{
  background-color: transparent;
  background-position: center;
  text-align: center;
}

.btn-primary {
  color: #fff;
  /* background-color: #337ab7; */
  border-color: #fff;
}
#box-wrapper .main-icon{
  position: absolute;
  left: -52px;
}
#box-wrapper .fa1{
  color: #fff;
  position: absolute;
  bottom: 16px;
  right: 563px;
}
#box-wrapper .btn2{
  background-color: #000019 ;
  background-position: center;
  text-align: center;
}
#box-wrapper .stellar{
  font-size: 30px;
  font-weight: bold;  
}


.btn-group-lg>.btn, .btn-lg {
  padding-top: 20px;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3333333;
  border-radius: 37px;
  border-style: hidden dotted solid; 
  border-width: 1px;
}
.btn1 {
  padding: 3px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3333333;
  border-radius: 37px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: -98px;
  /* margin-bottom: 8px; */
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar {
  background-color:transparent;
  border: none;
  margin-right: 130px;
  margin-left: 130px;
  border-color: none;
}
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  font-size: 15px;   
  color: #ccc;
}

.navbar li { color: #000;} 

#box-wrapper h1{
  text-align: center;
  color: #fff;
  font-size: 58px;
  margin-top: 150px;
  margin-bottom: 10px;   
  font-weight: bold;
  
}
#box-wrapper p{
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 16px;
 
}

#box-wrapper2{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
}
#box-wrapper2 .line p{
  border-bottom: 1px solid #ccc;


}

#box-wrapper2 img{ 
 
 display: block;
 margin: 0 auto;
  
  
}

#box-wrapper2 h2{
  text-align: center;
  color: #333;
  font-weight: bold;
  
}
#box-wrapper2 h4{
  text-align: center;
  color: #333;
  font-weight: bold;
  
}
#box-wrapper2 p{
  text-align: center;
  padding: 18px;
  font-size: 18px;
 
}

.active {
  display: block !important;
}


.sldr1{
  background-image: url('../img2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:540px;
}
.sldr1 .color{
  background-color: rgba(128,128,128, 0.5);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
}

.sldr2{
  background-image: url('../img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:540px;
}
.sldr2 .color{
  background-color: rgba(128,128,128, 0.5);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
}
.sldr3{
  background-image: url('../img4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:540px;
}
.sldr3 .color{
  background-color: rgba(128,128,128, 0.5);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
}

.image-slider .col-sm-6{
  padding-left: 100px;
  padding-top: 50px;
}

.image-slider h2{
  text-align: left;
  color: #fff;
  font-weight: bold;
  
}
.image-slider img{
  margin-top: 74px;  
}

.image-slider h4{
  text-align: left;
  color: #fff;
  font-weight: bold;
  
}

.image-slider p{
  text-align: left;
  color: #fff;
  padding-top: 10px;
  font-size: 15px;
 
}
#box-wrapper4{
  background-color: #fff;
  background-size: cover;
  position: relative;
  min-height: 1px;
  padding-right: 15px; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:740px;

}

#box-wrapper41 .full-img{
  background-image: url('../phone.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 528px;
}

#box-wrapper42 .full-img{
  background-image: url('../website.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 528px;
}

#box-wrapper43 .full-img{
  background-image: url('../photography.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 528px;
}

#box-wrapper44 .full-img{
  background-image: url('../illustration.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 528px;
}

#box-wrapper45 .full-img{
  background-image: url('../identity.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 528px;
}




#box-wrapper41 .col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; 
}


#box-wrapper4 h2{
  text-align: center;
  color: #333;
  font-weight: bold;  
}
#box-wrapper4 h4{
  text-align: center;
  color: #333;
  padding-bottom: 18px;
  font-weight: bold;  
}
#box-wrapper4 p{
  text-align: center;
  padding: 18px;
  font-size: 18px; 
}

#box-wrapper41 h2{
  text-align: left;
  color: #333;
  font-weight: bold;
  
}
#box-wrapper41 p{
  text-align: left;
  font-size: 15px;
 
}
#box-wrapper42 h2{
  text-align: left;
  color: #333;
  font-weight: bold;
  
}
#box-wrapper42 p{
  text-align: left;
  font-size: 15px;
 
}

#box-wrapper43 h2{
  text-align: left;
  color: #333;
  font-weight: bold;
  
}
#box-wrapper43 p{
  text-align: left;
  font-size: 15px; 
}

#box-wrapper44 h2{
  text-align: left;
  color: #333;
  font-weight: bold;  
}
#box-wrapper44 p{
  text-align: left;
    font-size: 15px; 
}
#box-wrapper45   h2{
  text-align: left;
  color: #333;
  font-weight: bold;  
}
#box-wrapper45 p{
  text-align: left;
  font-size: 15px; 
}

#box-wrapper4 ul{
  text-align: center;  
  padding-bottom: 27px;
  font-size: 18px;
}

 #box-wrapper4  ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Float the list items side by side */
#box-wrapper4 ul.tab li {float: left;
  text-align: center;
}

/* Style the links inside the list items */
#box-wrapper4 ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

#box-wrapper4 ul a {
  color: #808080;
  text-decoration: none;
}

#box-wrapper4 .nav>li>a {
  position: relative;
  display: block;
  padding: 15px 15px;
}

#box-wrapper4 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #000;
  cursor: default;
  background-color: #fff;    
  border: 0px solid #ddd;
}

/* Change background color of links on hover */
#box-wrapper4 ul.tab li a:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
#box-wrapper4 ul.tab li a:focus, .active {
  background-color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
   
}


#box-wrapper5{
  background-image: url('../clr.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:540px;
  margin-bottom: 0;
}

#box-wrapper5 h2{
  text-align: center;
  color: #fff; 
  font-weight: bold;  
}
#box-wrapper5 h3{
  text-align: left;
  color: #fff;
  padding-left: 20px;
  font-weight: bold;
  
}
#box-wrapper5 h4{
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  font-weight: bold;
  
}
#box-wrapper5 p{
  text-align: left;
  color: #fff;
  padding-left: 20px;   
  font-size: 15px; 
}

.padding-left-right {
  padding: 10px;
}

#box-wrapper6{
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height:640px;
  margin-bottom: 0;
}

 #box-wrapper6 .col-sm-3 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}


#box-wrapper6 h2{
  text-align: center;
  color: #333;
  font-weight: bold;
  
}

#box-wrapper6 h4{
  text-align: center;
  color: #333;
  padding-bottom: 38px;
  font-weight: bold;
}
#box-wrapper6 .col-sm-4 img{
  margin-top: 205px;
}
#box-wrapper6 .col-sm-7 img{
  margin-left: -15px;

}

#box-wrapper6 .border{
  top: 0px;
  margin:0px;     
  border-width: 2px;
  border-bottom-width:2px;
  border-bottom-color:#ccc;
  border-bottom-style: solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 7px;

}

#box-wrapper6 p{
  text-align: left;
   padding: 18px;
  font-size: 18px;
}
#box-wrapper6 .padding {
  padding-left: 120px; 
}

#box-wrapper6 .person2 {
    margin-top: 40px; 
}

#box-wrapper7 .col-sm-2 a{

  color:  #A9A9A9;
  text-decoration: none;
}
#box-wrapper7 .row{
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #eee;
}
#box-wrapper7 .icons .col-sm-2 {
  font-size: 25px;
  padding: 15px 0;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
#box-wrapper7 .icons .col-sm-2:first-child {
  border-left: none;
}
#box-wrapper7 .icons .col-sm-2:last-child {
  border-right: none;
}

#box-wrapper7{
  background-size: cover;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  min-height:320px;
}
#box-wrapper7 .col-sm-12 {
  padding-top: 30px;
  
 }

#box-wrapper7 p{
  text-align: left;
  color: #A9A9A9;
  font-size: 15px;
 
}
#box-wrapper7 h4{
  text-align: left;
  color: #333;
  font-size: 15px;  
  font-weight: bold;
}
#box-wrapper7 .email img{
  position: absolute;
  bottom: 5px;
  right: 20px;
}
#box-wrapper7 .form-control{
  margin-top: 20px;
  padding: 24px;
}


@media screen and (max-width: 1252px) and (min-width: 430px) {
  #box-wrapper6 .col-sm-4 img{
    margin-top:29px;
  }
  #box-wrapper6 .col-sm-7 img{
   margin-left: -15px;

  }
  #box-wrapper6 p{
    text-align: left;
     
    font-size: 13px;
  }
  #box-wrapper6 .col-sm-3 p{
    padding-top: 0px;
    text-align: left;   
    font-size: 13px;
  }
  #box-wrapper6 .person2 {
      margin-top: -18px;
   
  }
  #box-wrapper45 .full-img {
    background-image: url('../identity.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 472px;    
  }
  #box-wrapper41 .full-img{
    background-image: url('../phone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 472px;
  }

  #box-wrapper42 .full-img{
    background-image: url('../website.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 472px;
  }

  #box-wrapper43 .full-img{
    background-image: url('../photography.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 419px;
  }

  #box-wrapper44 .full-img{
    background-image: url('../illustration.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 472px;
  } 
  #box-wrapper7 .row {
    margin-left: 140px;
    margin-right: 0;
    border-bottom: 1px solid #eee;
  }
#box-wrapper .row span {
    color: #fff;
    position: absolute;
    bottom: 16px;
    right: 158px;
    left: 188px;
  }
}
@media screen and (max-width: 344px) and (min-width: 150px) {
   #box-wrapper .row a span {
    color: #fff;
    position: absolute;
    bottom: 16px;
    right: 158px;
    left: 39px;
  }

}
